body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    color: #333;
    padding: 20px;
    text-align: center;
    background-image: url("images/iceberg-background.jpg");

    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    width: 600px;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    
    /*Transparent*/
    background: rgba(233, 233, 233, 0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(233, 233, 233, 0.4);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #222;
    cursor: default;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #878787;
    border-radius: 8px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    transition: ease 0.5s;
}
input:invalid {
    border: 3px solid #f44336;
}
input:hover {
    transform: scale(1.03)
}

textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 3px solid #878787;
    border-radius: 8px;
    resize: none;
    overflow: hidden;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    transition: ease 0.5s;
}
textarea:invalid {
    border: 3px solid #f44336;
}
textarea:hover {
    transform: scale(1.03)
}

.submit {
    width: 100%;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: 0.5s ease;
}
.submit:hover {
    background-color: #218838;
    transform: scale(1.03);
}

.back {
    display: inline-block;
    padding: 7px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: 0.5s ease;
}
.back:hover {
    background-color: #d32f2f;
    transform: scale(1.03);
}