body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #d4d4d4;
    color: #333;

    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    margin-top: 300px;
    margin-bottom: 300px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    background: #e9e9e9;
    border-radius: 15px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #222;
    text-align: center;
    cursor: default;
}

p {
    margin: 10px 0;
    cursor: default;
}

.line {
    font-size: 32px;
    margin-top: -20px;
    margin-bottom: 25px;
}

.privacy-policy {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2898a7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 30px;
    transition: 0.5s ease;
}
.privacy-policy:hover {
    background-color: #216788;
    transform: scale(1.05);
}

.back {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.5s ease;
}
.back:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}