body {
    margin: 0;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" width;
    background-color: rgb(235, 242, 250);
}



/*Landing Page*/

.header-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.35);
}

.eco-logo {
    position: absolute;
    left: 16px;
    top: 80px;
    height: 150px;
    width: 150px;
    border-radius: 25px;
}

.headline {
    position: absolute;
    left: 50px;
    top: 300px;
    color: aliceblue;
    font-size: 70px;
    width: 500px;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}

.acent {
    color: #10898d;
    }



/*Nav Bar*/

.menu-link {
    color: #202020;
    text-decoration: none;
    font-weight: 650;
    margin-left: 40px;
    font-size: 25px;
    transition: 0.6s
}
.menu-link:hover {
    color: #032f3c;
    transform: scale(1.15);
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    font-size: 28px;

}

nav {
    background-color:#046169;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
.nav:hover {
    background-color:#217b7e;
}

.scroll-top {
    color:	#202020;
    text-decoration: none;
    position: absolute;
    z-index: 1001;
    left: 25px;
    top: 10px;
    position: fixed;
    font-weight: 650;
    font-size: 30px;
    transition: 0.5s
}
.scroll-top:hover {
    color: #032f3c;
    transform: scale(1.1);
    cursor: pointer;
}



/*Modularer Aufbau*/

.description {
    height: 300px;
    padding: 30px 100px;
    display: flex;
        gap: 50px;
}

.scd-head {
    text-align: center;
    font-size: 40px;
}

.video-container {
    width: 50%;
}

.youtube {
    width: 533px;
    height: 300px;
}

.box {
    color: #ffffff;
    font-size: 24px;
    background-color: #7ea3bf;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    cursor:default;
    transition: ease 0.5s;
}
.box:hover {
    transform: scale(1.03);
}

.img1 {
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    cursor:default;
    transition: ease 0.5s;
}
.img1:hover {
    transform: scale(1.05);
}

.img2 {
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    cursor:default;
    transition: ease 0.5s;
}
.img2:hover {
    transform: scale(1.05);
}



/*footer*/

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px ;
}

footer {
    background-color: #111;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a:hover {
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footerNav {
    margin: 30px 0;
}

.footerNav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a {
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}
.footerNav ul li a:hover {
    opacity: 1;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}

.designer {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}



/*Größen basierter Aufbau*/

@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;
    } 

    .footerNav ul li {
        width:100%;
        text-align: center;
        margin: 10px;
    }

    .socialIcons a {
        padding: 8px;
        margin: 4px;
    }

    .description1 {
        flex-direction: column;
        align-items: center;
        height: unset;
    }

    .video-container {
        width: unset;
        display: flex;
        justify-content: center;
    }

    .container {
        display: none;
    }
}

@media (max-width: 1300px) {
    .youtube {
        width: calc(100vw * 0.4) ;
        height: calc(56.25vw * 0.4);
    }
}