body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 20px;
    background-color: #d4d4d4;

    display: flex;
    justify-content: center;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #e9e9e9;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 20px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
}

.headline {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -5px;
    color: #222;
    cursor: default;
}

.title {
    margin-top: 40px;
    margin-bottom: -10px;
    cursor: default;
}

.description {
    margin-top: -10px;
    cursor: default;
}

.link {
    text-decoration: none;
    color: #0f8dc4;
    cursor: pointer;
    transition: 0.5s ease;
}
.link:hover {
    color: #32b0e6;
    /* transform: scale(2); Does not work */
    /* font-size: 105%; Works, but is jarring */
}

.line {
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    text-decoration: none;
    color: #e9e9e9;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 20px;
    background-color: #f44336;
    transition: 0.5s ease;
    border-radius: 8px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.button:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}