body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #d4d4d4;
    color: #333;

    display: flex;
    justify-content: center;
}

.container {
    max-width: 1400px;
    max-height: 80%;
    margin-top: 70px;
    margin-bottom: 70px;
    background: #e9e9e9;
    padding: 30px 70px;
    border-radius: 15px;
    font-size: 22px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #222;
    cursor: default;
}

h2, h3, h4, li, p {
    cursor: default;
}

a:not(.forwarding):not(.back) {
    text-decoration: none;
    color: #0f8dc4;
    cursor: pointer;
    transition: 0.5s ease;
}
a:not(.forwarding):not(.back):hover {
    color: #32b0e6;
    text-decoration: underline;
}

.line {
    margin-top: 40px;
    margin-bottom: 50px;
}

.button-container {
    display: flex;           /* Methode um das Ausrichten auszuführem */
    justify-content: center; /* Centers horizontally */
    margin-bottom: 20px;
}

.forwarding {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2898a7;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    margin-right: 30px;
    transition: 0.5s ease;
}
.forwarding:hover {
    background-color: #216788;
    transform: scale(1.05);
}

.back {
    display: inline-block;
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.5s ease;
}
.back:hover {
    background-color: #d32f2f;
    transform: scale(1.05);
}